html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    min-width: 1170px;
    background-size: cover;
}
.wraper{
    width: 1170px;
    margin: 0 auto;
}
.strong{
    font-family: "Ubuntu Bold";
    font-weight: normal;
    font-style: normal;
}
.light{
    font-family: "Ubuntu Light";
    font-weight: normal;
    font-style: normal;
}
.regular{
    font-family: "Ubuntu Regular";
    font-weight: normal;
    font-style: normal;
}
.regular-fz-18{
    font-family: "Ubuntu Regular";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
/**fonts**/
@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu-Regular.woff') format('woff'),
    url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '../fonts/Ubuntu Light';
    src: url('../fonts/Ubuntu-Light.eot');
    src: url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu-Light.woff') format('woff'),
    url('../fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu-Bold.woff') format('woff'),
    url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dw3444');
    src:  url('../fonts/icomoon.eot?dw3444#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dw3444') format('truetype'),
    url('../fonts/icomoon.woff?dw3444') format('woff'),
    url('../fonts/icomoon.svg?dw3444#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-appleinc:before {
    content: "\eabe";
}
/**!fonts**/

/**header**/
.header {
    z-index: 1;
    position: absolute;
    left: calc(50% - 600px);
}
.hat{
    line-height: 90px;
    justify-content: space-between;
    display: flex;
}

.head {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}
.menu li{
    display: inline-block;
}
.menu a {
    color: #e1e1e1;
    font-size: 18px;
    text-transform: capitalize;
}

.menu a:hover {
    text-decoration: underline;
}

.white a {
    color: white;
}

.menu li:nth-child(1) {
    margin-left: 43px;
    margin-right: 80px;
}

.menu li:nth-child(2) {
    margin-right: 20px;
}

.menu li:nth-child(3) {
    margin-left: 85px;
    margin-right: 89px;
}

.icons li{
    display: inline-block;
}

.icons a {
    color: white;
    font-size: 27px;
    margin-left: 33px;
}
/**!header**/
/**content**/
    /*!musthed*/
.musthead{
    background: url(../images/back-top.jpg) 50% 100% no-repeat;
    height: 959px;
    top: 0;
    background-size: cover;
    width: 100%;
    padding-top: 288px;
    position: relative;

}
.musthead-in-left a:last-child:hover{
    background: rgba(68, 102, 201, .8)
}
.musthead-in-left a:hover{
    background: rgba(252, 106, 66, .9)
}
.musthead-in-left{
    float: left;
}
.musthead-in-right{
    float: right;
    display: flex;
}
.button {
    background: #fc6a42;
    padding: 0px 35px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    color: white;
}
.musthead-in-left a:last-child{
    margin-left: 13px;
    padding: 0 40px;
    background: #4466c9;
}
.mil-h1{
    line-height: 72px;
    font-size: 60px;
    color: white;
    padding-bottom: 31px;
}
.mil-p{
    padding-bottom: 55px;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}
.musthead-in-right {
    display: flex;
}

.musthead-in-right img{
    position: relative;
    right: 194px;
    bottom: 84px;
}
.circle{
    position: relative;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.sunny{font-size: 18px;
    right: 29px;
    height: 90px;
    width: 90px;
    background: #fc6a42;
    top: 210px;
}
.london{
    font-size: 16px;
    top: 184px;
    left: 342px;
    background: #4466c9;
    height: 90px;
    width: 90px
}
.nine {
    font-size: 21px;
    background: white;
    height: 58px;
    width: 58px;
    color: #6ca3ff;
    left: 171px;
    padding-left: 8px;
}
.rio {
    left: 248px;
    color: #648cff;
    background: #fcec64;
    height: 56px;
    width: 56px;
    top: 491px;
}
.scroll span {
    position: absolute;
    top: 845px;
    left: calc(50% - 26px);
    width: 49px;
    height: 49px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    background: white;
}
.scroll span::after {
    position: absolute;
    top: 43%;
    left: 43%;
    content: '';
    width: 6px;
    height: 6px;
    border-left: 1px solid #ff4a4f;
    border-bottom: 1px solid #ff4a4f;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
    /*!musthed*/
    /*features*/
.features{
    height: 556px;
}
.features-ttl{
    padding-top: 128px;
    padding-bottom: 25px;
    text-align: center;
    color: #648cff;
    text-transform: uppercase;
    font-size: 36px;

}
.features-p{
    text-align: center;
    color: #999;
    padding-bottom: 130px;

}
.character{
    display: flex;
    justify-content: space-between;
}
.character p {
    color: #aeaeae;
    padding-top: 18px;
    font-size: 16px;
    line-height: 31px;
}
.character h3{
    color: #353854;
    line-height: 20px;
    font-size: 24px;
}
.character img{
    padding-right: 20px;
}
.pbox{
    width:  367px;
}
.parallax, .usability,.colors {
    display: flex;
    flex-direction: row;
}
    /*!features*/

/**!content**/